<div id="main" class="sidebar-none sidebar-divider-vertical">

<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><b>Architect, Project Manager</b></p>
<p>Bachelor of Architecture - Auburn University 2013</p>
<p>Tej Vashee came to Winslow Architects in 2013 after graduating from Auburn University in Alabama with a Bachelor of Architecture Degree. Tej is originally from Zambia. Tej interned at firms in Zambia, London and Alabama before coming to Winslow Architects in 2013. One of his many hidden talents is his ability as a golfer – having been selected as a member of the Zambia National Golf Team.</p>
<p>Under the guidance of senior staff, Tej has become increasingly proficient at the preparation of construction documents and the processing of submittals and other paper work for construction administration. Tej provides direction for our “House Doctor” work with local housing authorities as well as construction documents for all of our multifamily housing developments.</p>

		</div>
	</div>
</div>