<div class="container">  
    <form id="contact" action="mailto:tej.vashee@gmail.com" method="POST" enctype="text/plain" name="EmailForm">
      <h3 style="margin: auto; text-align: center;">CONTACT</h3>
      <h4 style="margin: auto; text-align: center;">Write me a message</h4>
      <fieldset>
        <label>Your Name</label>
        <input placeholder="Name" type="text" tabindex="1" required autofocus name="name">
      </fieldset>
      <fieldset>
        <label>Email</label>
        <input placeholder="Email" type="text" tabindex="2" required name="mail">
      </fieldset>
     
      
      <fieldset>
        <label>Message</label>
        <textarea placeholder="Type your message here...." tabindex="5" required name="comment"></textarea>
      </fieldset>
      
      
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
    
     
    </form>
  </div>