
  
  <!-- <div class="container"> -->

    <div class="container">
      <h3><i class="fa fa-home" routerLink="/"></i></h3> 
      
      <!-- 
      <a routerLink="/">Gallery</a>|
      <a routerLink="/about">Add Item</a>|
      <a routerLink="/contact">Contact</a>|
      <a routerLink="/portfolio">Error</a> -->
      <!-- <button routerLink="/portfolio" style="width: 60px; height: 60px; border-radius: 40px; position: fixed; bottom:50px; right:50px; font-size: 40px; font-weight: 700; border-width: 4px;">+</button> -->
      <header>
        <span style="float:right; top: -120px;">
          <svg width="150" height="120">
          
            <g transform="translate(10,40) rotate(-30)">
              <ellipse cx="50" cy="50" rx="50" ry="50" 
                  stroke="#000000" stroke-width="0" fill="#2b82cb"> 
              </ellipse>
              <text x=15 y=60 font-family='"Roboto", Helvetica, Arial, sans-serif' font-weight=700
                  font-size="30px" fill="#FFF">
                     T E J
              </text>
           </g>    
               
          </svg>
        </span>
        <h1>Tej Vashee. AIA.</h1>
        
        <h2>Architect & Project Manager.</h2>

        
      </header>
      
        <router-outlet></router-outlet>
        
       
      <!-- </content> -->
      <footer>
        <h2>@TEJVASHEE</h2>
        <nav>
          <ul>
            <li>
              <i class="fa fa-codepen"></i>
            </li>
            <li>
              <i class="fa fa-github-alt"></i>
            </li>
            <li>
              <i class="fa fa-twitter"></i>
            </li>
          </ul>
        </nav>
      </footer>
    </div>

	
    <!-- <header style="height: 10vh; width: 100%; ">

      <nav class="navbar" style="text-align: center; width: 100%; position: fixed; height:8vh; padding-top: 5vh; background-color: #eee; z-index: 100;">
        <h1 style="font-weight: 700; font-size: 2rem;">Computational Design Task Manager</h1>
     
      </nav>
  
      <button routerLink="/about" style="width: 60px; height: 60px; border-radius: 40px; position: fixed; bottom:50px; right:50px; font-size: 40px; font-weight: 700; border-width: 4px;">+</button>
    </header>
         
   
    <app-portfolio></app-portfolio> -->
  
  <!-- </div> -->
