<content>
<article class="photo">
    <img src="../../assets/tej.jpg" width="100%" height="100%" style="object-fit: cover;">
    <a routerLink="/about" style="text-decoration: none; color:white !important; height: 100%; width: 100%;"><h2>About</h2></a>
        </article>
        <article style="height: 300px;" class="photo">
            <!-- <a href="#" style="height: 100%; width: 100%;"></a> -->
          <!-- <iframe scrolling="no" src="https://s.codepen.io/rickyeckhardt/debug/BDako?"></iframe> -->
          <img src="../../assets/project.jpg" width="100%" height="100%" style="object-fit: cover;">
         <a routerLink="/portfolio" style="text-decoration: none; color:white !important; height: 100%; width: 100%;"><h2>Portfolio</h2></a>
        </article>
        <article class="photo">
            <img src="../../assets/tej2.jpg" width="100%" height="100%"style="object-fit: cover;">
            <a routerLink="/contact" style="text-decoration: none; color:white !important; height: 100%; width: 100%;"><h2>Contact</h2></a>
        </article>
    </content>